# CodeIgniter
*/application/config/database.php
*/system/logs/log-*.php
*/system/cache/*
*/system/cache/!index.html

# Wiki 
wiki/wiki.d/
wiki/uploads/

# Netbeans Projects folder
nbproject/

# Other files
*.swp
