<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>$WikiTitle | {$Group} / {$Title} $ActionTitle</title>
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <meta http-equiv='Content-Style-Type' content='text/css' />
  <link rel='stylesheet' href='$SkinDirUrl/pmwiki.css' type='text/css' />
  <link rel='stylesheet' href='http://u9-desktop/~ed/cms/css/style.css' type='text/css' />
  <!--HTMLHeader-->

	<style type="text/css">
		hr {
		}
		h3 {
			font-size: 12pt;
			margin-bottom: 3px;
		}

		h2 {
			color: black;
			font-size: 13pt;
		}

		table#wikimid tr td#wikibody {
			border-bottom: none;
		}

		table.quickref {
			display: none;
		}

		table#wikimid, table#wikimid tr td#wikileft {
			border-bottom: none;
		}

		/** So that chrome doesn't resize the text area **/
		textarea {
			resize: none;
		}
	</style>
</head>
<body>
<div id="container">

<div id="top-header">
<h2 style="margin-bottom: 15px; font-size: 16pt; font-weight: bold; color: #4f5155">myCMS</h2>
<span id="meta-info">
  <form  style="margin-top: -16px;" action='{$ScriptUrl}'>
    <input type='hidden' name='n' value='{$FullName}' />
    <input type='hidden' name='action' value='search' />
    <input type='text' name='q' value='' class='inputbox searchbox' />
    <input type='submit' class='inputbutton searchbutton' value='$[Search]' />
  </form>
</span>
</div> <!-- end top-header -->

<div id="common-nav">
<ul>
<li><a href="http://u9-desktop/~ed/cms">Home</a>
<li><a href="http://u9-desktop/~ed/cms/projects">Projects</a>
<li><a id="current_tab" href="http://u9-desktop/~ed/cms/wiki">Wiki</a>
</ul>
</div> <!-- end common-nav -->

<!--PageHeaderFmt-->

  <div id='wikilogo'>
	<!-- <a href='{$ScriptUrl}'><img src='$PageLogoUrl' alt='$WikiTitle' border='0' /></a> -->
  </div>

<!--/PageHeaderFmt-->
  <table id='wikimid' style="table-layout:fixed; width="100%"; " cellspacing='0' cellpadding='0'>
	<tr style="height: 100%">
<!--PageLeftFmt-->
      <td id='wikileft' valign='top'>
		<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
      </td>

<!--/PageLeftFmt-->
      <td id='wikibody' valign='top'>

<!--PageActionFmt-->
        <div id='wikicmds'><!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions--></div>
<!--PageTitleFmt-->
        <div id='wikititle'>
          <div class='pagegroup'><a href='{$ScriptUrl}/{$Group}'>{$Group}</a>/</div>
          <h1 class='pagetitle'>{$Title}</h1></div>
<!--PageText-->
      </td>
    </tr>
  </table>

</div> <!-- end container -->
<div id="footer">
<!--PageFooterFmt-->
  <!-- <div id='wikifoot'> -->
    <!-- <div class='footnav'> -->
      <!-- <a rel="nofollow" href='{$PageUrl}?action=edit'>$[Edit]</a> - -->
      <!-- <a rel="nofollow" href='{$PageUrl}?action=diff'>$[History]</a> - -->
      <!-- <a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> - -->
      <!-- <a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'>$[Recent Changes]</a> - -->
      <!-- <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a></div> -->
      <!-- <div class='lastmod'>$[Page last modified on {$LastModified}]</div> -->
      $[Page last modified on {$LastModified}]
   <!-- </div> -->
<!--HTMLFooter-->
</div> <!-- end footer -->
</body>
</html>
